
<div class="header">
   <a (click)="show = !show">
      <!-- {{show ? 'hide' : 'show'}} -->
      <img src="../../../assets/logo.png" width="50" alt="logo">
   </a>
   <a><p>Profile</p></a>

</div>

<!-- show = {{show}} -->

<div class="main">
   <div class="navLeft" *ngIf="show; else elseBlock" >
      
      <p>aqui</p>
   </div>

   <ng-template class="mainAfter" #elseBlock >

   </ng-template>

   <div class="navMain">
      <p>dentro</p>
   </div>

</div>


<!-- (click)="sidenav_opened = !sidenav_opened" -->
<!-- [(opened)]="sidenav_opened" -->
