* 
   margin: 0
   padding: 0


.header 
   display: flex 
   height: 50px
   width: 100%
   // border: 1px solid black
   align-items: center
   justify-content: space-between
   background-color: #BFC9CA

   a
      margin: 0 20px